<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add_player</title>
</head>
<body>

<div class="main-w3layouts wrapper">
    <h1>新增遊戲成員頁面</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">

            <form id="add_player"  method="post" th:action="@{/player/add_player}" th:object="${playerRequest}">
                <input  type="text" th:field="*{playerName}"  placeholder="遊玩暱稱" required="">
                <input  type="number" th:field="*{chips}"  placeholder="身上籌碼" required="">

                    <div class="clear"> </div>
                <input type="submit" value="新增">
                <button type="button" onclick="location.href='/index'">返回首頁</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>